header{
    display: flex;
}
button{
    border: none;
    background-color: white;
}

#profilePic{
    margin-top: 15px;
    margin-left: 15px;
    width: 32px;
    height: 32px;
}
#name{
    margin-left: 20px;
}
#options{
    margin-top: 10px ;
    margin-left: 200px;
    width: 40px;
    height: 40px;
}
#picPost{
    width: 100%;
}

#like, #comment, #dm{
    width: 50px;
}
