
.navbar-container{
    padding: 8px;
    border-bottom: 1p solid rgb(220,220,220);
}

.navbar{
    width: 960px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-section{
    font-family: 'Sansita Swashed', cursive;
    font-size: 32px;
    font-weight: bolder;
}

.heart-placeholder-icon:hover{
    color: red !important;
    
}

ul{

    display: flex;
    padding: 0 30px;
  }
  
  ul li{
    color: black;
    align-items: center;
    list-style: none;
    align-self: center;
    margin: 0 10px;
    font-size: 25px;
  }

  .camera-icon,.arrow-icon{
    visibility: hidden;
}

  

@media only screen and (max-width: 500px) {
    .navbar{
        margin: auto;
        display: flex;
        justify-content: center;
        flex-direction: column
    }
    ul{
      display: none;
    }
    .camera-icon{
        margin-right: 150px;
        visibility: visible;
        font-size: 45px;
    }
    .arrow-icon{
        margin-left: 150px;
        visibility: visible;
        font-size: 45px;
    }
    .logo-section{
        font-family: 'Sansita Swashed', cursive;
        font-size: 65px;
        font-weight: bolder;
    }
    
}

