
/* 
nav {

  width:80%;
  display: flex;
  justify-content: space-between;
  height: 45px;
} */

/* h1{
  font-family: 'Sansita Swashed', cursive;
} */



#main{
  z-index: 1;
  position: relative;
  margin-top: 150px;
}

#nav{
  z-index: 10;
  position: fixed;
  top: 0px;
  width: 100%;
  padding-top: 16px;
  margin-top: 0px;
  background-color: white;
}


